img {
    display: block;
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
}

form {
    display: inline;
}

span{
    margin-bottom: 20px;
}

#badge{
    color:white
}

#badge:hover{
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
}