{% extends 'base.html' %}
{% block content %}
<h1>Create Tag</h1>
<form action="" method="POST">
    <div class="form-group">
        <label for="tag-name" class="form-label mt-4">Tag Name</label>
        <input 
            type="text" 
            class="form-control" 
            name="tag-name" 
            id="tag-name" 
            aria-describedby="tagNameHelp" 
            placeholder="Tag Name">
    </div>
    <button type="submit" class="btn btn-outline-success">save</button>
    
</form>

<button 
    onclick="window.location.href='/tags';" 
    class="btn btn-outline-secondary">Cancel
</button>

{% endblock %}