{% extends 'base.html' %}
{% block content %}
<h1>Create User</h1>
<form action="" method="POST">
    <div class="form-group">
        <label for="first-name-input" class="form-label mt-4">First Name</label>
        <input 
            type="text" 
            class="form-control" 
            name="first-name" 
            id="first-name-input" 
            aria-describedby="firstNameHelp" 
            placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="last-name-input" class="form-label mt-4">Last Name</label>
        <input 
            type="text" 
            class="form-control" 
            name="last-name" 
            id="last-name-input" 
            aria-describedby="lastNameHelp" 
            placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="image-url-input" class="form-label mt-4">Image URL</label>
        <input 
            type="text" 
            class="form-control" 
            name="img-url" 
            id="image-url-input" 
            aria-describedby="imageURLHelp" 
            placeholder="Image URL">
    </div>
    <button type="submit" class="btn btn-outline-success">save</button>
    
</form>

<button 
    onclick="window.location.href='/users';" 
    class="btn btn-outline-secondary">Cancel
</button>

{% endblock %}