{% extends 'base.html' %}
{% block content %}
<h1>{{user.first_name}} {{user.last_name}}</h1>
<img src="{{user.image_url}}">
<!-- <form action="/users/{{user.id}}/edit">
    <button type="submit" class="btn btn-outline-warning">Edit</button>
</form>
<form action="/users/{{user.id}}/delete", method="POST">
    <button type="submit" class="btn btn-outline-danger">Delete</button>
</form> -->
<form>
    <button 
        type="submit" 
        class="btn btn-outline-danger" 
        formaction="/users/{{user.id}}/delete" 
        formmethod="POST">
        Delete
    </button>
    <button 
        type="submit" 
        class="btn btn-outline-warning" 
        formaction="/users/{{user.id}}/edit" 
        formmethod="GET">
        Edit
    </button>
</form>

<button 
    onclick="window.location.href='/users';" 
    class="btn btn-outline-primary">Go Back
</button>

<div>
    <h3>Posts</h3>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    
    <button 
        onclick="window.location.href='/users/{{user.id}}/posts/new';"
        type="submit" 
        class="btn btn-outline-warning" >
        Add Post
    </button>


</div>

{% endblock %}
